/* Shared styles */ 

@import url('https://fonts.cdnfonts.com/css/miama');             
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.primary-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.bg-color{
    background-color: #000000;
}

.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 16px 47px;
    border: none;
    border-radius: 42px;
    width: 224px;
}
.heading-primary{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 1px;
}

.heading-secondary{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.heading-extra{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 900;
}

.para-design{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.image-box{
    height: 275px;
    width: 230px;
}

.ms1-img{
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

/* header section design */ 

.header-part{
    background-color: #111111;
    width: 100%;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    align-items: center;
    max-width: 1250px;
}
.nav-heading{
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}
.nav-menu{
    display: flex;
    margin-right: 190px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 4px 12px 0;
}
.nav-list{
    list-style: none;
    margin-right: 50px;
}
.nav-items{
    text-decoration: none;
    font-size: 1.13rem;
    font-weight: 400;
    color: #FFFFFF;
}
.nav-home{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;

}

/* Header content styles */ 

.header-content{
    display: flex;
    gap: 167px;
    max-width: 1250px;
}
.hc-part{
    max-width: 520px;
    margin-left: 190px;
}
.hc-heading{
    font-size: 4.88rem;
    font-weight: 900;
    color: #FFFFFF;
    max-height: 280px;
    margin-bottom: 28px;
}
.shape-text{
    font-family: 'Miama', sans-serif;
    font-size: 4.88rem;
    font-weight: 900;
    color: #FFFFFF;

}
.hc-description{
    margin-bottom: 28px;
}
.hc-buttons{
    display: flex;
    gap: 14px;
}
.btn-download{
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16px 48px;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    background-color: transparent;
}
.hc-img{
    max-width: 350px;
    height: 580px;
    position: relative;
}
.hc-box1{
    background-color: rgba(48, 48, 48, 0.54);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center; 
    gap: 10px;
    border-radius: 8px;
    position: absolute;
    top: 420px;
    right: 250px;
}
.cricket-ball{
    height: 35px;
    width: 35px;
    background-color: #E6533C;
    border-radius: 50%;
    display: flex;
    margin-left: 23px;
    margin-top: 30px;
}
.hcb-content{
    height: 55px;
    width: 110px;
    margin-right: 23px;
}
.hcb-number{
    margin-bottom: 7px;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 900;
}
.hc-box2{
    background-color: rgba(48, 48, 48, 0.54);
    height: 100px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: -80px;
}
.hcb-number2{
    margin: 20px 30px 0 20px;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 900;
}
.hcb-descrip{
    margin: 2px auto 10px 20px;
}

/* main section1 styles */ 

.main-section1{
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
}
.ms1-content{
    max-width: 670px;
    text-align: center;
    margin: 100px auto;
}
.ms1-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 58px;
    text-align: center;
    gap: 40px;
}

/* main section 2 styles */ 

.main-section2{
    background-color: #222222;
    margin: 100px auto;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    align-items: center;
}

.ms2-content{
    width: 445px;
    height: 290px;
    padding-left: 50px;
}

.ms2-img{
    height: 310px;
    width: 360px;
    padding: 30px 30px; 
    border-radius: 18%;
}

/* main section 3 design */ 

.main-section3{
    max-width: 1050px;
    margin: 0 auto; 
    align-items: center;
}
.ms3-content{
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}
.ms3-images{
    margin-top: 50px;
    height: 400px;
}
.ms3-images img{
    width: 100%;
    height: 100%;
}
.ms3-img-box1{
    display: flex;
}
.ms3-img-box2{
    display: flex;
}
.ms3-img1{
    width: 20%;
    position: relative;
}
.ms3-img2{
    width: 50%;
}
.ms3-img3{
    width: 30%;
}
.ms3-img4{
    width: 40%;
}
.ms3-img5{
    width: 25%;
}
.ms3-img6{
    width: 35%;
}
.ms3-para1{
    color: #000000;
    font-size: 0.88rem;
    font-weight: 500;
}

/* main section 4 styles */ 

.main-section4{
    max-width: 680px;
    margin: 200px auto 100px auto; 
    align-items: center;
    text-align: center;
}

/* main section 5 styles */ 

.main-section5{
    background-color: #222222;
}
.ms5-modify{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main-section5 h3{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 900;
}
.ms5-calc table{
    border-collapse: collapse;
    height: 220px;
}
.ms5-calc table th, td{
    padding: 10px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
.ms5-theading{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}
.ms5-tdata{
    font-size: .8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.ms5-para{
    max-width: 580px;
}
.ms5-form-deisgn{
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 40px;
}
.ms5-form-items{
    display: flex;
    gap: 10px;
}

.ms5-form .ms5-form-items input,
.ms5-form .ms5-form-items select {
    flex: 1;
    padding: 12px;
    font-size: 1 rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
}

.form-nav{
    color: #000000;
}


/* main section 6 design */ 

.main-section6{
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
}

.ms6-content{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px;
}
.ms6-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    gap: 20px;
    padding: 20px 20px;
    border-radius: 10px;
}
.ms6-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.img-content{
    position:relative;
}

.img-content-position{
    position: absolute;
    top: 220px;
    left: 16px;
}

/* New section styles */ 

.main-section7{
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    margin: 90px auto;
    max-width: 1050px;
    border-radius: 10px;
}
.ms7-content{
    text-align: center;
    padding-top: 50px;
    max-width: 850px;
    margin: 0 auto;
}
.membership{
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
}

.membership-1, .membership-2{
    border: 5px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 50px 35px;
    padding: 0 25px 25px 25px;
    max-width: 350px;
}

.membership-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

.membership-btn{
    max-width: 180px;
}

/* footer design */ 

.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 90px;
    max-width: 1050px;
}
.footer-heading{
    font-size: 4.3rem;
    font-weight: 800;
    color: #E6533C;
}
.footer-content1{
    max-width: 450px;
}
.footer h3{
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 700;
}

.footer-menu{
    padding-left: 0;
}

.footer-link{
    list-style: none;
    margin-bottom: 20px;
}
.footer-items{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.footer-content2{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.fc-box{
    gap: 150px;
}

.footer-line{
    max-width: 1050px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px auto;
}

.complete-footer{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-final{
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* responsive design for mobile devices */ 

@media screen and (max-width: 576px) {
    .nav-heading {
        padding: 0 20px;
    }
    .nav-menu{
        display: none;
    }
    .header-content{
        flex-direction: column;
        margin: 0 20px;
    }
    .hc-part{
        margin: 0 auto;
    }
    .hc-heading{
        font-size: 2.25rem;
        margin: 0 0;
        max-width: 350px;
    }
    .hc-description{
        max-width: 300px;
    }
    .ms1-content{
        max-width: 320px;
        align-items: center;
        display: inline;
    }
    .heading-primary{
        font-size: 2rem;
    }

    .ms1-images {
        display: flex;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        max-width: 350px;
        margin: 10px auto;
        align-items: center;
    }
    .image-box{
        margin-bottom: 40px;
    }
    .main-section2{
        margin: 20px 20px;
        flex-direction: column;
        max-width: 350px;
    }
    .ms2-content{
        max-width: 300px;
        align-items: center;
        padding: 30px 20px 30px 20px; 
        margin: 0 auto;
    }
    .ms2-content .btn-primary{
        margin-top: 20px;
        width: 300px;
    }
    .ms2-img{
        max-width: 280px;
        height: 200px;
        padding: 5px 20px 30px 20px;
        border-radius: 10%;
    }
    .main-section3{
        margin: 50px 20px 20px 20px;
    }
    .ms3-images{
        height: 220px;
    }
    .main-section4{
        margin: 50px 20px;
        text-align: left;
    }
    .ms5-modify{
        flex-direction: column;
    }
    .ms5-form{
        max-width: 350px;
    }
    .ms5-form-deisgn{
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .main-section7{
        margin: 20px 20px;
    }
    .ms7-content, footer{
        text-align: left;
        padding: 20px 20px;
    }
    .membership{
        flex-direction: column;
    }
    .membership-1, .membership-2{
        margin: 15px 20px;
    }
    .ms6-content{
        margin: 50px 20px 20px 20px;
    }
    .ms6-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer, .footer-content2{
        flex-direction: column;
    }
    .footer-content2{
        gap: 20px;
    }
    .footer-final{
        text-align: center;
    }
    .footer-heading{
        font-size: 4.3rem;
        font-style: italic;
    }
    .footer{
        margin: 0 auto;
    }
}